<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
  <section class="form-section">
    <h1>Face Recognition To Identify And Verify System With ID Card </h1>

    <div class="form-wrapper">
      <form>
        <img src="{{url_for('static', filename='home2.gif')}}" alt="Office Icon" style="width:600px;height:450px;">
        <h1> </h1>
        <a href="/Role" ><button type="submit" class="btn-login">Welcome</button></a>
      </form>

    </div>
  </section>
  <ul class="squares">
  </ul>

  <!-- <script src="script.js"></script> -->
</body>

</html>
