<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
  <section class="form-section">
    <h1>    </h1>

    <div class="form-wrapper">
      <form >
        <h2>Welcome to DUCK  Office</h2>
        <img src="{{url_for('static', filename='duck.png') }}" alt="Office Icon" style="width:300px;height:300px;">
        <h3 class="center"> {{data_profile.7}}</h3>
        <h3 class="center">The office is on 2nd floor.</h3>
      </form>

        <h class="btn-login" color =none >
    </div>
  </section>
  <ul class="squares">
  </ul>

  <script src="script.js"></script>
</body>

</html>
<!-- <img src="/static/ayrton_senna_movie_wallpaper_by_bashgfx-d4cm6x6.jpg"> -->
